.test-class {
    background-color: red;
}

#test-id {
    color: purple;
}
h1 { background-color: blue }

#qwe{ 
  color: blue; 
}

.asd{ 
  color: red; 
}


.qwe > .asd {
  color: red;
}
.qwe .zxc .xcv {
  background-color: green;
}

.box {
  border: 2px solid red;
  padding: 10px;
}

.box ul li {
  background-color: yellow; 
}

.ASD {
  background-color: red;
}

.SDF {
  background-color: blue;
}